@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-BHhLnpqBZ0vmmO: rgb(233, 156, 46);
  --plasmic-token-orange: var(--token-BHhLnpqBZ0vmmO);
  --token-IbOQlvP4oOs1Fj: rgb(160, 158, 156);
  --plasmic-token-text: var(--token-IbOQlvP4oOs1Fj);
  --token-ZqCQtO8T960w19: rgb(97, 96, 96);
  --plasmic-token-heading: var(--token-ZqCQtO8T960w19);
  --token-5u8h3q8jPzXFV4: rgb(95, 91, 87);
  --plasmic-token-border: var(--token-5u8h3q8jPzXFV4);
  --token-X-HI7YIU-o4OmV: #f8f9fd;
  --plasmic-token-background: var(--token-X-HI7YIU-o4OmV);
  --token-bnOAXMzSZG5X2T: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-bnOAXMzSZG5X2T);
  --token-ZAjl15ewZh6a7u: rgb(188, 183, 178);
  --plasmic-token-subtext: var(--token-ZAjl15ewZh6a7u);
  --token-9PpNxu6SX3VNkQ: rgb(239, 206, 74);
  --plasmic-token-star: var(--token-9PpNxu6SX3VNkQ);
  --token-DzwYwFt_XkmBrq: rgb(169, 169, 169);
  --plasmic-token-star-o: var(--token-DzwYwFt_XkmBrq);
  --token-YrbheI14ztyufj: rgb(153, 141, 128);
  --plasmic-token-preheader: var(--token-YrbheI14ztyufj);
  --token-5cdWKb2KXrREoy: #f8f9fd;
  --plasmic-token-unnamed-style-token: var(--token-5cdWKb2KXrREoy);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-6xg1FcSpmw0lfi_font-family: "Roboto", sans-serif;
  --mixin-6xg1FcSpmw0lfi_font-size: 16px;
  --mixin-6xg1FcSpmw0lfi_font-weight: 400;
  --mixin-6xg1FcSpmw0lfi_font-style: normal;
  --mixin-6xg1FcSpmw0lfi_color: #535353;
  --mixin-6xg1FcSpmw0lfi_text-align: left;
  --mixin-6xg1FcSpmw0lfi_text-transform: none;
  --mixin-6xg1FcSpmw0lfi_line-height: 1.5;
  --mixin-6xg1FcSpmw0lfi_letter-spacing: normal;
  --mixin-6xg1FcSpmw0lfi_white-space: pre-wrap;
  --mixin-6xg1FcSpmw0lfi_user-select: text;
  --mixin-6xg1FcSpmw0lfi_text-decoration-line: none;
  --mixin-6xg1FcSpmw0lfi_text-overflow: clip;
  --mixin-qV2xNoEyIUcUNx_font-family: "Inter", sans-serif;
  --mixin-qV2xNoEyIUcUNx_color: #000000;
  --mixin-qV2xNoEyIUcUNx_font-size: 72px;
  --mixin-qV2xNoEyIUcUNx_font-weight: 900;
  --mixin-qV2xNoEyIUcUNx_letter-spacing: -4px;
  --mixin-qV2xNoEyIUcUNx_line-height: 1;
  --mixin-qV2xNoEyIUcUNx_white-space: pre-wrap;
  --mixin-Aaiqo9imP7d-ij_font-family: "Inter", sans-serif;
  --mixin-Aaiqo9imP7d-ij_color: #000000;
  --mixin-Aaiqo9imP7d-ij_font-size: 48px;
  --mixin-Aaiqo9imP7d-ij_font-weight: 700;
  --mixin-Aaiqo9imP7d-ij_letter-spacing: -1px;
  --mixin-Aaiqo9imP7d-ij_line-height: 1.1;
  --mixin-Aaiqo9imP7d-ij_white-space: pre-wrap;
  --mixin-z58DfaNOQm7Dv3_font-family: "Inter", sans-serif;
  --mixin-z58DfaNOQm7Dv3_color: #000000;
  --mixin-z58DfaNOQm7Dv3_font-size: 32px;
  --mixin-z58DfaNOQm7Dv3_font-weight: 600;
  --mixin-z58DfaNOQm7Dv3_letter-spacing: -0.8px;
  --mixin-z58DfaNOQm7Dv3_line-height: 1.2;
  --mixin-z58DfaNOQm7Dv3_white-space: pre-wrap;
  --mixin-jn04JKQJQazLOd_font-family: "Inter", sans-serif;
  --mixin-jn04JKQJQazLOd_color: #000000;
  --mixin-jn04JKQJQazLOd_font-size: 24px;
  --mixin-jn04JKQJQazLOd_font-weight: 600;
  --mixin-jn04JKQJQazLOd_letter-spacing: -0.5px;
  --mixin-jn04JKQJQazLOd_line-height: 1.3;
  --mixin-jn04JKQJQazLOd_white-space: pre-wrap;
  --mixin-1-5OvDRyFTyC_e_font-family: "Inter", sans-serif;
  --mixin-1-5OvDRyFTyC_e_color: #000000;
  --mixin-1-5OvDRyFTyC_e_font-size: 20px;
  --mixin-1-5OvDRyFTyC_e_font-weight: 600;
  --mixin-1-5OvDRyFTyC_e_letter-spacing: -0.3px;
  --mixin-1-5OvDRyFTyC_e_line-height: 1.5;
  --mixin-1-5OvDRyFTyC_e_white-space: pre-wrap;
  --mixin-RGVTbFT1iS3idB_font-family: "Inter", sans-serif;
  --mixin-RGVTbFT1iS3idB_color: #000000;
  --mixin-RGVTbFT1iS3idB_font-size: 16px;
  --mixin-RGVTbFT1iS3idB_font-weight: 600;
  --mixin-RGVTbFT1iS3idB_line-height: 1.5;
  --mixin-RGVTbFT1iS3idB_white-space: pre-wrap;
  --mixin-87plECHqrOYBER_border-left-color: #dddddd;
  --mixin-87plECHqrOYBER_border-left-style: solid;
  --mixin-87plECHqrOYBER_border-left-width: 3px;
  --mixin-87plECHqrOYBER_color: #888888;
  --mixin-87plECHqrOYBER_padding-left: 10px;
  --mixin-87plECHqrOYBER_white-space: pre-wrap;
  --mixin-hjNd2d0v8DB6iO_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hjNd2d0v8DB6iO_border-bottom-color: #dddddd;
  --mixin-hjNd2d0v8DB6iO_border-bottom-style: solid;
  --mixin-hjNd2d0v8DB6iO_border-bottom-width: 1px;
  --mixin-hjNd2d0v8DB6iO_border-left-color: #dddddd;
  --mixin-hjNd2d0v8DB6iO_border-left-style: solid;
  --mixin-hjNd2d0v8DB6iO_border-left-width: 1px;
  --mixin-hjNd2d0v8DB6iO_border-right-color: #dddddd;
  --mixin-hjNd2d0v8DB6iO_border-right-style: solid;
  --mixin-hjNd2d0v8DB6iO_border-right-width: 1px;
  --mixin-hjNd2d0v8DB6iO_border-top-color: #dddddd;
  --mixin-hjNd2d0v8DB6iO_border-top-style: solid;
  --mixin-hjNd2d0v8DB6iO_border-top-width: 1px;
  --mixin-hjNd2d0v8DB6iO_border-bottom-left-radius: 3px;
  --mixin-hjNd2d0v8DB6iO_border-bottom-right-radius: 3px;
  --mixin-hjNd2d0v8DB6iO_border-top-left-radius: 3px;
  --mixin-hjNd2d0v8DB6iO_border-top-right-radius: 3px;
  --mixin-hjNd2d0v8DB6iO_font-family: "Inconsolata";
  --mixin-hjNd2d0v8DB6iO_padding-bottom: 1px;
  --mixin-hjNd2d0v8DB6iO_padding-left: 4px;
  --mixin-hjNd2d0v8DB6iO_padding-right: 4px;
  --mixin-hjNd2d0v8DB6iO_padding-top: 1px;
  --mixin-hjNd2d0v8DB6iO_white-space: pre-wrap;
  --mixin-tCfFkPyGf-z75h_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tCfFkPyGf-z75h_border-bottom-color: #dddddd;
  --mixin-tCfFkPyGf-z75h_border-bottom-style: solid;
  --mixin-tCfFkPyGf-z75h_border-bottom-width: 1px;
  --mixin-tCfFkPyGf-z75h_border-left-color: #dddddd;
  --mixin-tCfFkPyGf-z75h_border-left-style: solid;
  --mixin-tCfFkPyGf-z75h_border-left-width: 1px;
  --mixin-tCfFkPyGf-z75h_border-right-color: #dddddd;
  --mixin-tCfFkPyGf-z75h_border-right-style: solid;
  --mixin-tCfFkPyGf-z75h_border-right-width: 1px;
  --mixin-tCfFkPyGf-z75h_border-top-color: #dddddd;
  --mixin-tCfFkPyGf-z75h_border-top-style: solid;
  --mixin-tCfFkPyGf-z75h_border-top-width: 1px;
  --mixin-tCfFkPyGf-z75h_border-bottom-left-radius: 3px;
  --mixin-tCfFkPyGf-z75h_border-bottom-right-radius: 3px;
  --mixin-tCfFkPyGf-z75h_border-top-left-radius: 3px;
  --mixin-tCfFkPyGf-z75h_border-top-right-radius: 3px;
  --mixin-tCfFkPyGf-z75h_font-family: "Inconsolata";
  --mixin-tCfFkPyGf-z75h_padding-bottom: 3px;
  --mixin-tCfFkPyGf-z75h_padding-left: 6px;
  --mixin-tCfFkPyGf-z75h_padding-right: 6px;
  --mixin-tCfFkPyGf-z75h_padding-top: 3px;
  --mixin-tCfFkPyGf-z75h_white-space: pre-wrap;
  --mixin-GwlnN67dG2w_YA_display: flex;
  --mixin-GwlnN67dG2w_YA_flex-direction: column;
  --mixin-GwlnN67dG2w_YA_align-items: stretch;
  --mixin-GwlnN67dG2w_YA_justify-content: flex-start;
  --mixin-GwlnN67dG2w_YA_list-style-position: outside;
  --mixin-GwlnN67dG2w_YA_padding-left: 40px;
  --mixin-GwlnN67dG2w_YA_position: relative;
  --mixin-GwlnN67dG2w_YA_list-style-type: decimal;
  --mixin-GwlnN67dG2w_YA_white-space: pre-wrap;
  --mixin-xKxHl9IQzZXACH_display: flex;
  --mixin-xKxHl9IQzZXACH_flex-direction: column;
  --mixin-xKxHl9IQzZXACH_align-items: stretch;
  --mixin-xKxHl9IQzZXACH_justify-content: flex-start;
  --mixin-xKxHl9IQzZXACH_list-style-position: outside;
  --mixin-xKxHl9IQzZXACH_padding-left: 40px;
  --mixin-xKxHl9IQzZXACH_position: relative;
  --mixin-xKxHl9IQzZXACH_list-style-type: disc;
  --mixin-xKxHl9IQzZXACH_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-6xg1FcSpmw0lfi_font-family);
  font-size: var(--mixin-6xg1FcSpmw0lfi_font-size);
  font-weight: var(--mixin-6xg1FcSpmw0lfi_font-weight);
  font-style: var(--mixin-6xg1FcSpmw0lfi_font-style);
  color: var(--mixin-6xg1FcSpmw0lfi_color);
  text-align: var(--mixin-6xg1FcSpmw0lfi_text-align);
  text-transform: var(--mixin-6xg1FcSpmw0lfi_text-transform);
  line-height: var(--mixin-6xg1FcSpmw0lfi_line-height);
  letter-spacing: var(--mixin-6xg1FcSpmw0lfi_letter-spacing);
  white-space: var(--mixin-6xg1FcSpmw0lfi_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-qV2xNoEyIUcUNx_font-family);
  color: var(--mixin-qV2xNoEyIUcUNx_color);
  font-size: var(--mixin-qV2xNoEyIUcUNx_font-size);
  font-weight: var(--mixin-qV2xNoEyIUcUNx_font-weight);
  letter-spacing: var(--mixin-qV2xNoEyIUcUNx_letter-spacing);
  line-height: var(--mixin-qV2xNoEyIUcUNx_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-Aaiqo9imP7d-ij_font-family);
  color: var(--mixin-Aaiqo9imP7d-ij_color);
  font-size: var(--mixin-Aaiqo9imP7d-ij_font-size);
  font-weight: var(--mixin-Aaiqo9imP7d-ij_font-weight);
  letter-spacing: var(--mixin-Aaiqo9imP7d-ij_letter-spacing);
  line-height: var(--mixin-Aaiqo9imP7d-ij_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-z58DfaNOQm7Dv3_font-family);
  color: var(--mixin-z58DfaNOQm7Dv3_color);
  font-size: var(--mixin-z58DfaNOQm7Dv3_font-size);
  font-weight: var(--mixin-z58DfaNOQm7Dv3_font-weight);
  letter-spacing: var(--mixin-z58DfaNOQm7Dv3_letter-spacing);
  line-height: var(--mixin-z58DfaNOQm7Dv3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-jn04JKQJQazLOd_font-family);
  color: var(--mixin-jn04JKQJQazLOd_color);
  font-size: var(--mixin-jn04JKQJQazLOd_font-size);
  font-weight: var(--mixin-jn04JKQJQazLOd_font-weight);
  letter-spacing: var(--mixin-jn04JKQJQazLOd_letter-spacing);
  line-height: var(--mixin-jn04JKQJQazLOd_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-1-5OvDRyFTyC_e_font-family);
  color: var(--mixin-1-5OvDRyFTyC_e_color);
  font-size: var(--mixin-1-5OvDRyFTyC_e_font-size);
  font-weight: var(--mixin-1-5OvDRyFTyC_e_font-weight);
  letter-spacing: var(--mixin-1-5OvDRyFTyC_e_letter-spacing);
  line-height: var(--mixin-1-5OvDRyFTyC_e_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-RGVTbFT1iS3idB_font-family);
  color: var(--mixin-RGVTbFT1iS3idB_color);
  font-size: var(--mixin-RGVTbFT1iS3idB_font-size);
  font-weight: var(--mixin-RGVTbFT1iS3idB_font-weight);
  line-height: var(--mixin-RGVTbFT1iS3idB_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-87plECHqrOYBER_color);
  padding-left: var(--mixin-87plECHqrOYBER_padding-left);
  border-left: var(--mixin-87plECHqrOYBER_border-left-width)
    var(--mixin-87plECHqrOYBER_border-left-style)
    var(--mixin-87plECHqrOYBER_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-hjNd2d0v8DB6iO_font-family);
  border-radius: var(--mixin-hjNd2d0v8DB6iO_border-top-left-radius)
    var(--mixin-hjNd2d0v8DB6iO_border-top-right-radius)
    var(--mixin-hjNd2d0v8DB6iO_border-bottom-right-radius)
    var(--mixin-hjNd2d0v8DB6iO_border-bottom-left-radius);
  padding: var(--mixin-hjNd2d0v8DB6iO_padding-top)
    var(--mixin-hjNd2d0v8DB6iO_padding-right)
    var(--mixin-hjNd2d0v8DB6iO_padding-bottom)
    var(--mixin-hjNd2d0v8DB6iO_padding-left);
  border-top: var(--mixin-hjNd2d0v8DB6iO_border-top-width)
    var(--mixin-hjNd2d0v8DB6iO_border-top-style)
    var(--mixin-hjNd2d0v8DB6iO_border-top-color);
  border-right: var(--mixin-hjNd2d0v8DB6iO_border-right-width)
    var(--mixin-hjNd2d0v8DB6iO_border-right-style)
    var(--mixin-hjNd2d0v8DB6iO_border-right-color);
  border-bottom: var(--mixin-hjNd2d0v8DB6iO_border-bottom-width)
    var(--mixin-hjNd2d0v8DB6iO_border-bottom-style)
    var(--mixin-hjNd2d0v8DB6iO_border-bottom-color);
  border-left: var(--mixin-hjNd2d0v8DB6iO_border-left-width)
    var(--mixin-hjNd2d0v8DB6iO_border-left-style)
    var(--mixin-hjNd2d0v8DB6iO_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-tCfFkPyGf-z75h_font-family);
  border-radius: var(--mixin-tCfFkPyGf-z75h_border-top-left-radius)
    var(--mixin-tCfFkPyGf-z75h_border-top-right-radius)
    var(--mixin-tCfFkPyGf-z75h_border-bottom-right-radius)
    var(--mixin-tCfFkPyGf-z75h_border-bottom-left-radius);
  padding: var(--mixin-tCfFkPyGf-z75h_padding-top)
    var(--mixin-tCfFkPyGf-z75h_padding-right)
    var(--mixin-tCfFkPyGf-z75h_padding-bottom)
    var(--mixin-tCfFkPyGf-z75h_padding-left);
  border-top: var(--mixin-tCfFkPyGf-z75h_border-top-width)
    var(--mixin-tCfFkPyGf-z75h_border-top-style)
    var(--mixin-tCfFkPyGf-z75h_border-top-color);
  border-right: var(--mixin-tCfFkPyGf-z75h_border-right-width)
    var(--mixin-tCfFkPyGf-z75h_border-right-style)
    var(--mixin-tCfFkPyGf-z75h_border-right-color);
  border-bottom: var(--mixin-tCfFkPyGf-z75h_border-bottom-width)
    var(--mixin-tCfFkPyGf-z75h_border-bottom-style)
    var(--mixin-tCfFkPyGf-z75h_border-bottom-color);
  border-left: var(--mixin-tCfFkPyGf-z75h_border-left-width)
    var(--mixin-tCfFkPyGf-z75h_border-left-style)
    var(--mixin-tCfFkPyGf-z75h_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-GwlnN67dG2w_YA_display);
  flex-direction: var(--mixin-GwlnN67dG2w_YA_flex-direction);
  align-items: var(--mixin-GwlnN67dG2w_YA_align-items);
  justify-content: var(--mixin-GwlnN67dG2w_YA_justify-content);
  list-style-position: var(--mixin-GwlnN67dG2w_YA_list-style-position);
  padding-left: var(--mixin-GwlnN67dG2w_YA_padding-left);
  position: var(--mixin-GwlnN67dG2w_YA_position);
  list-style-type: var(--mixin-GwlnN67dG2w_YA_list-style-type);
  flex-column-gap: var(--mixin-GwlnN67dG2w_YA_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-xKxHl9IQzZXACH_display);
  flex-direction: var(--mixin-xKxHl9IQzZXACH_flex-direction);
  align-items: var(--mixin-xKxHl9IQzZXACH_align-items);
  justify-content: var(--mixin-xKxHl9IQzZXACH_justify-content);
  list-style-position: var(--mixin-xKxHl9IQzZXACH_list-style-position);
  padding-left: var(--mixin-xKxHl9IQzZXACH_padding-left);
  position: var(--mixin-xKxHl9IQzZXACH_position);
  list-style-type: var(--mixin-xKxHl9IQzZXACH_list-style-type);
  flex-column-gap: var(--mixin-xKxHl9IQzZXACH_flex-column-gap);
}
