.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__lgLt {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__lgLt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__lgLt > :global(.__wab_flex-container) > *,
.freeBox__lgLt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lgLt > :global(.__wab_flex-container) > picture > img,
.freeBox__lgLt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__lgLt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgLt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgLt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgLt > :global(.__wab_flex-container) > *,
  .freeBox__lgLt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lgLt > :global(.__wab_flex-container) > picture > img,
  .freeBox__lgLt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgLt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.freeBox__gOa2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__gOa2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__gOa2 > :global(.__wab_flex-container) > *,
.freeBox__gOa2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gOa2 > :global(.__wab_flex-container) > picture > img,
.freeBox__gOa2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__gOa2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gOa2 {
    padding-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gOa2 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gOa2 {
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0px;
  }
}
.text__bk1ZQ {
  position: relative;
  font-weight: 700;
}
.freeBox__yhJqw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yhJqw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yhJqw > :global(.__wab_flex-container) > *,
.freeBox__yhJqw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yhJqw > :global(.__wab_flex-container) > picture > img,
.freeBox__yhJqw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__yhJqw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.link__lEWlt {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__lEWlt:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__uHlc6 {
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__uHlc6:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__owbaH {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__owbaH:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link___6TyXk {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___6TyXk:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.freeBox__hpKDh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__hpKDh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__hpKDh > :global(.__wab_flex-container) > *,
.freeBox__hpKDh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hpKDh > :global(.__wab_flex-container) > picture > img,
.freeBox__hpKDh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__hpKDh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hpKDh {
    margin-top: calc(3rem + 20px) !important;
    margin-right: 0rem;
    margin-bottom: 3rem;
    margin-left: calc(0rem + 0px) !important;
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hpKDh > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hpKDh {
    align-items: center;
    justify-content: center;
    margin-top: calc(3rem + 20px) !important;
    margin-right: 0rem;
    margin-bottom: 3rem;
    margin-left: calc(0rem + 0px) !important;
    align-self: flex-start;
  }
}
.text__zWxN5 {
  position: relative;
  font-weight: 700;
}
.freeBox__ha07P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ha07P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ha07P > :global(.__wab_flex-container) > *,
.freeBox__ha07P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ha07P > :global(.__wab_flex-container) > picture > img,
.freeBox__ha07P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__ha07P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.link__tDiqd {
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__tDiqd:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__g4Tqt {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__g4Tqt:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__z0BRo {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__z0BRo:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__tXbBj {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 0.5s;
}
.root .link__tXbBj:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__eoLkm {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__eoLkm:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.freeBox__dAc1R {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__dAc1R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__dAc1R > :global(.__wab_flex-container) > *,
.freeBox__dAc1R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dAc1R > :global(.__wab_flex-container) > picture > img,
.freeBox__dAc1R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__dAc1R {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dAc1R > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dAc1R {
    align-items: center;
    justify-content: center;
  }
}
.text__gVsBu {
  position: relative;
  font-weight: 700;
}
.freeBox__ayLy1 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ayLy1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ayLy1 > :global(.__wab_flex-container) > *,
.freeBox__ayLy1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ayLy1 > :global(.__wab_flex-container) > picture > img,
.freeBox__ayLy1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__ayLy1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.link___7Pn {
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___7Pn:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__vkuGg {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__vkuGg:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__vEn7E {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__vEn7E:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__d4Rpy {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__d4Rpy:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.link__usx48 {
  position: relative;
  color: var(--token-IbOQlvP4oOs1Fj);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__usx48:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
  padding-left: 10px;
}
.freeBox__qpg8M {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: var(--token-X-HI7YIU-o4OmV);
  padding: 32px 16px;
}
.freeBox__qpg8M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qpg8M > :global(.__wab_flex-container) > *,
.freeBox__qpg8M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpg8M > :global(.__wab_flex-container) > picture > img,
.freeBox__qpg8M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qpg8M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: var(--token-X-HI7YIU-o4OmV);
  padding: 32px 16px;
}
.freeBox__cyBM {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cyBM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cyBM > :global(.__wab_flex-container) > *,
.freeBox__cyBM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cyBM > :global(.__wab_flex-container) > picture > img,
.freeBox__cyBM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__cyBM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.iconLink__t8HC1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .iconLink__t8HC1:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg___3ZkRh {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg___3ZkRh:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
}
.iconLink__iruoh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nj4Fo {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__nj4Fo:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
}
.iconLink__n3SvJ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bPkiF {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 1em;
  height: 18px;
}
.root .svg__bPkiF:hover {
  color: var(--token-BHhLnpqBZ0vmmO);
}
.freeBox__iQa2A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iQa2A {
    display: flex;
    flex-direction: column;
  }
}
.text__xzW7A {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__rfmuU {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__rfmuU:hover {
  text-decoration-line: underline;
}
.link__ude05 {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__ude05:hover {
  text-decoration-line: underline;
}
